main {
  display: grid;
  gap: 5rem 8rem;
  @media (min-width: 50em) {
    grid-template-columns: 1fr 1.5fr;
    text-align: left;
    .heading {
      grid-column: 1 / 2;
    }
    .ratings {
      grid-column: 2 / 3;
      align-self: center;
    }

    .quotes {
      grid-column: 1 / -1;
    }
  }
}
