main {
  display: grid;
  gap: 3rem;
  @media (min-width: 50em) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    .heading {
      grid-column: 1 / 2;
    }
    .ratings {
      grid-column: 2 / 3;
    }

    .quotes {
      grid-column: 1 / -1;
    }
  }
}
