.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}
.flex-title {
  display: flex;
}
.aligner {
  align-items: center;
}
