.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}
.wrap {
  flex-direction: column;
  display: flex;
  gap: 1em;
  @media (min-width: 50em) {
    display: flex;
    gap: 1em;
    flex-direction: row;
  }
}

.aligner {
  align-items: center;
}
